body {
    width: 100%;
    margin: 0;
}

.container {
    width: 500px;
    height = 500px;
    margin: auto;
}

.para-style {
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}