body {
    width: 100%;
    margin: 0;
}

button {
    width: 100px;
    padding: 5px;
    border: indigo solid 2px;
}

.para-style {
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}